html,body,h3,h1{
    margin:0;
    padding:0;
}

nav{
    width:90%;
    height:80px;
    background-color: black;
    padding-left:10%;
    padding-top:1px;
    color:white;
    font-family: 'Climate Crisis', cursive;
}

header{
    width:90%;
    height:500px;
    background-color: gray;
    padding-left:10%;
    padding-top:100px;
    color:white;
}

header p{
    width:50%;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}

header h1{
    font-size: 55px;
    font-family: 'Playfair Display', serif;
}

header h3{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}